numpy<2
pydantic>=2.0.0
scipy
tad-mctc==0.7.0
tad-dftd3==0.6.0
tad-multicharge==0.5.0
tad-dftd4==0.8.0
tad-libcint==0.3.0
tomli
tomli-w
torch>=2.10.0
sphinx
sphinx-book-theme
sphinx-copybutton
sphinx-design
sphinx-togglebutton
sphinx_autodoc_typehints
jinja2
